@import './vendor/imports.scss';
@import './cards/player.scss';
@import './teams.scss';

.HOG__BODY {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}