@import "mdb-react-ui-kit/dist/scss/mdb.core.scss";
@import "mdb-react-ui-kit/dist/scss/mdb.free.scss";
@import "react-toastify/dist/ReactToastify.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./theme.scss";

.App {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

body {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  background-color: $platinum !important;
}

.me-10 {
  margin-right: 5em !important;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 10px 10px 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}