@import "./variable/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --mdb-primary: var(--primary);
  --mdb-secondary: var(--secondary);
  --mdb-success: var(--success);
  --mdb-info: var(--primary);
  --mdb-danger: var(--danger);
  --mdb-body-color: $secondary;
  --input-bg-colour: white;

  --mdb-body-font-family: "Itim";
  --mdb-body-font-size: "";
  --mdb-body-font-weight: "";
}

.btn {
  --mdb-btn-padding-top: 0.5rem !important;
  text-transform: uppercase;
}

.min-vh-90 {
  min-height: 90vh;
}

.form-control, input, select {
  background-color: var(--input-bg-colour) !important;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: var(--primary);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--danger);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-font-family: "Itim";

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  //Used only for colored theme
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
}

$input-border-color: blue;