$fire-brick: #ac2022ff;
$dark-slate-gray: #2e4346ff;
$light-blue: #95c4c9ff;
$platinum: #cfdddcff;
$indian-red: #d05c58ff;
$moonstone: #0cbfd6ff;

:root {
    --primary: #0cbfd6ff;
    --secondary: #95c4c9ff;
    --danger: #ac2022ff;
    --warning: #f1c40f;
    --success: #2ecc71;
}